@model BrodyagaWeb.Models.Soldier

@{
    ViewData["Title"] = "Боєць";
}

<h1>Редагування</h1>

<h4>Боєць</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            @if (ViewBag.ActionSource != null)
            {
                <input type="hidden" name="ActionSource" value="@ViewBag.ActionSource" />
            }
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MidleName" class="control-label"></label>
                <input asp-for="MidleName" class="form-control" />
                <span asp-validation-for="MidleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Unit" class="control-label"></label>
                <select asp-for="UnitId" class="form-control" asp-items="ViewBag.Units"></select>
                <span asp-validation-for="UnitId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Зберегти" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @if (ViewBag.ActionSource != null)
    {
        <a href="@ViewBag.ActionSource">До переліку</a>
    }
    else
    {
        <a asp-action="Index">До переліку</a>
    }
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
